<div class="container mt-3">
    <div class="row">
        <div class="col-md-6">
            <% if (typeof errors != 'undefined') { %>
            <div class="alert alert-danger" role="alert">
                <ul>
                    <% errors.forEach(error => { %>
                     <li><%= error.msg  %></li>
                    <% }) %>
                </ul>
            </div>
            <% } %>
            <h2>Form Tambah Data Contact</h2>
            <form method="post" action="/contact">
                <div class="mb-3">
                  <label for="nama">Nama</label>
                  <input type="text" class="form-control" id="nama" placeholder="Enter name" name="nama" required>
                </div>

                <div class="mb-3">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email" required>
                </div>

                <div class="mb-3">
                  <label for="nomorHP">Nomor HP</label>
                  <input type="number" class="form-control" id="nomorHP" placeholder="Enter Number Phone" name="nomorHP" required>
                </div>
                <button type="submit" class="btn btn-primary">Tambah Data Contact</button>
                <a href="/contact" class="btn btn-secondary">Kembali</a>
              </form>
        </div>
    </div>
</div>