
    <h1>Hello World</h1>
    <h2>Halo <%= nama%></h2>

    <h4>Daftar Mahasiwa</h4>
    <% mahasiswa.forEach(mhs => { %>
    <ul>
        <li>nama: <%= mhs.nama %></li>
        <li>email: <%= mhs.email %></li>
    </ul>
    <% }) %>